<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add  key="Article"  value="Input\Article.txt" />
    <add  key="Words"  value="Input\Words.txt" />
    <add key="Output" value="Output\\Output.txt"/>
  </appSettings>

</configuration>
